body {
    /* The image used */
    background-image: url("nebula_azul.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.9;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #32CD32;
    text-decoration: none;
    text-align: center;
    color: white


}

.heroes {
  float: right;
  padding: 1px;
	width: 365px;
  position: static;
}

.heroes2 {
  float: right;
	font-size:25px;
  text-decoration: none;
	color: white;
  right: 0px;
  position: static;
}
