body {
    /* The image used */
    background-image: url("galaxya.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
  margin:0;
  padding:0;
}


header {
    width:100%;
}

header nav {
  width:90%;
  margin:1000px;
  margin:20px auto;
  background: #000000;
  opacity: 0.8;
}

.menu_bar {
  display:none;
}

header nav ul {
  overflow:hidden;
  list-style: none;
}

header nav ul li {
  float:left;
}

header nav ul li a {
  color:#fff;
  padding:20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 100px;

}



#SubMenu-DC {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    opacity: 0.9;
	margin-left: 155px;
	margin-right: 155px;
	margin-top: 50px;

}

#DCheroes {
	display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	float: right;
	}

#DCheroes:hover {
    background-color: #1E90FF;
    text-decoration: none;
    text-align: center;
    color: white;
	}

#DCvillains {
	display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	float: left;
}

#DCvillains:hover {
    background-color: #8B0000;
    text-decoration: none;
    text-align: center;
    color: white
	}




.heroes-card-1 {
	margin-left: 110px;
	margin-top: 50px;

}

.heroes-card-2 {
	margin-left: 110px;
	margin-top: 350px;
}
.heroes-card {
  float: left;
  outline-style: double;
  background-color: black;
  opacity: 0.9;
  margin-left: 48px;

}

.heroes-card-image {
  padding: 1px;
  width: 365px;
  margin: auto;
  display: block;
}

.heroes-card-label {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.heroes-card-label:hover {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
